html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    min-height: 100%;
    height: 100%;
}

#text-muted {
    font-size: 6pt;
    color: lightgray;
}

/* Sticky footer styles
-------------------------------------------------- */
html {

}

body {
    z-index: 1;
    
    font-size: 14pt;
    font-family: "Segoe UI", "Helvetica Neue", "Liberation Sans", Arial, sans-serif, Helvetica;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color:#fff;
    padding-top: 12px;
    text-shadow: 1px 1px 1px #000;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    color: #fff;
    background-color: transparent;
}

button, input, select, textarea {
    font-family: inherit;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input, textarea {
    margin: 0;
    background: 0 0;
    font-size: 100%;
}

.page-header, h1, h2 ,h3 ,h4, h5, h6 {
    
    /*padding: 30px 15px 0;*/
}


/* background*/

#background {
    margin: 0;
    padding: 0;
    z-index: -1;
}

    #background li {
        opacity: 1.0;
    }

    #background, #background li {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

        #background, #background li {
            background-color: transparent;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }

.fadein {
    -webkit-animation: fadein .5s ease 0s forwards;
}


/* transparent navbar */

@media screen and (min-width: 680px) {
    .navbar-transparent {
        background: transparent;
        background-image: none;
        border-color: transparent;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .active > a:hover {
        background: transparent;
        background-image: none;
        border-color: transparent;
    }
}


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
}

/* font styles */
#bottom, #bottom-left, #bottom-right, #center, #center-above, #center-below, #top-left, #top-right {
    color: #fff;
    font-size:11px;
    font-weight: bold;        
}

/* corner positions */
#center {
    z-index: 4;
}



#centerclock h1, #greeting h2 {
    font-weight: 500;
}

#centerclock h1, #focus, #greeting h2, #introduction, #login {
    text-align: center;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #fff;
    letter-spacing: -5px;
    font-size: 1125%;
    font-weight: 400;
}

#center, #center-above, #center-below {
    display: block;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    -webkit-transform: translate(-50%,-50%);
}


#top-left {
    top: 0;
    left: 0;
    z-index: 10;
}

#top-right {
    top: 0;
    right: 0;
    z-index: 1000;
}


#bottom-left {
    bottom: 0;
    left: 0;
    z-index: 100;
}



#bottom-right {
    bottom: 0;
    right: 0;
    z-index: 1000;
}

#bottom {
    /*width: 50%;*/
    bottom: 0;
    left: 50%;
    opacity: 1;
    -webkit-transform: translateX(-50%);
}

#bottom, #bottom-left, #bottom-right, #center, #center-above, #center-below, #top-left, #top-right {
    position: absolute;
    z-index: 3;
    
    }
    
 /* WebGL Globe classes */
 
 .cesium-credit-textContainer
 {
   color:black;
 }
 
 
 /* Heads up Display */
 .panel {
   background-color: #202020; /* Dark purple */
   opacity: 0.75;
   border-radius: 4px;
   margin: 10px;
   border-color: #9ecaed;
   box-shadow: 0 0 10px #9ecaed;
 }
 
 .panel-text {
   color: #fff;
   opacity: 1.0;
   font-size:40px;
   text-shadow: 3px 3px 3px #888;
   padding: 12px;
 }
 
 /* ---  flexbox wrap -- */
 
 .wrap {
   display: flex;
 }
 
 media (max-width: 767px) {
   .wrap {
       flex-direction: column-reverse;
   }
   .panel {
       width: auto;
   }
}