@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


  <h1>WebGL Earth API: Hello World</h1>
   <body onload="initialize()">
    <div id="earth_div"  style="width:1080px;height:720px;"></div>
  </body>