@page
@model IndexModel
@{
    ViewData["Title"] = "Globe";
}﻿
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - globe</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="http://www.webglearth.com/v2/api.js"></script>

<script>
  function initialize() {
       var options = {atmosphere: true, center: [0, 0], zoom:4};
        var earth = new WE.map('earth_div', options);
        WE.tileLayer('http://tileserver.maptiler.com/nasa/{z}/{x}/{y}.jpg', {
          minZoom: 0,
          maxZoom: 5,
          attribution: 'NASA'
        }).addTo(earth);
	
	var marker = WE.marker([54.6, -6]).addTo(earth);	
	marker.bindPopup("<b>Home!</b>", {maxWidth: 150, closeButton:true}).openPopup();
              

          // Start a simple rotation animation
        var before = null;
        requestAnimationFrame(function animate(now) {
            var c = earth.getPosition();
            var elapsed = before? now - before: 0;
            before = now;
            earth.setCenter([c[0], c[1] + 0.1*(elapsed/30)]);
            requestAnimationFrame(animate);
        });

      }
</script>

</head>

<body onload="initialize()">
    <ul id="background" class="background">
        <li class="fadein" style="background-image: url('images/stars-bkg.jpg');"></li>
    </ul>
    
    <div id="earth_div" style="position: relative;min-height: 100%; height: 100%;"></div>
    <div class="container">
        <div id="top-left">
	
	<font size="36" color="white">
            Time: <span id="lblTime" ></span>
        </font></div>
	
        <div id="top-right">
	
		<font size="36" color="white">
		
		<span id="lblDate" ></span>

                </font>
	</div>

	</div>

        <div id="center-above"></div>
        <div id="center">
	
            <div id="title"></div>
            <div id="subtitle"></div>

        </div>
        <div id="center-below">


	      
        </div>

        <div id="bottom-left"></div>
        <div id="bottom" style="color:steelblue"></div>
        <div id="bottom-right"></div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
<!--    <script
src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="~/js/site.js" asp-append-version="true"></script>



<script>
/* IFFE */

(function() {
    'use strict';
    

    window.addEventListener('DOMContentLoaded', (event) => {
         console.log('init..');
	 init();
	 console.log('Running..');
    });
    
    var timer = setInterval(change, 20000);
    
    function change() {
    
         updateTimeLabel()
    }
    
    function init() {
    
	 updateTimeLabel();       
    }
   
   function updateTimeLabel(){
   
         var time = getCurrentTime();
	 var lblTime = document.getElementById("lblTime");
	 lblTime.innerHTML = time;
	 
	 var date = getCurrentDate();
	 var lblDate = document.getElementById("lblDate");
	 lblDate.innerHTML = date;
   }
   
   
   function getCurrentTime() {
   
         var date = new Date();
	 var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
	 var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
	 var time = hours + ":" + minutes;
	 
         
	 return time;
	
   }
   
   function getCurrentDate() {
   
       const date = new Date();
       const month = date.toLocaleString('default', { month: 'long' });
       var day = suffix(date.getDate() ) ;
       var dateString = day + " " + month + " " + date.getFullYear(); 
       return dateString;
   }
              
   function suffix(i) { 
        var j = i % 10, k = i % 100; 
	
	if (j == 1 && k != 11) { 
	    return i + "st"; 
	} 
	if (j == 2 && k != 12) { 
	    return i  + "nd"; 
	} 
	if (j == 3 && k != 13) { 
	    return i + "rd"; 
	} 
	return i +  "th";
    }
    
    
 })();



</script>

</body>




